.player{
}

.player iframe{
  position: absolute;
  
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 0;

  z-index: 11;
}

.player .overlay{
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  
  top: 15px;
  right: 15px;
  
  z-index: 12;

  cursor: pointer;
}

.player .overlay i{
  margin: 0 10px;

  font-size: 20px;
  
  &.fa-xmark{
    font-size: 26px;
  }
}

@media screen and (max-width: 600px){
  .player .overlay i{
    font-size: 16px;

    margin: 0 5px;

    vertical-align: middle;
    
    &.fa-xmark{
      font-size: 18px;
    }
  }
}